body {
	color: #001E40;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	}

h1 { font-size: 4em; }
h2 { font-size: 3.333em; }
h3 { font-size: 2.667em; }
h4 { font-size: 2em; }
h5 { font-size: 1.333em;  }

p {
	color: grey;
	font-size: 1em; }