body{
  padding: 0;
  margin:0;
  font-family: arial;
}

h1{
font-size: 50px;
text-align: center;
padding-top: 0px;
margin-bottom: 0px;
}

h2{
font-size: 30px;
text-align: center;
margin-top: 0px;
}

p{
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.5em;
  text-align: center;
}

.dragon-logo{
  max-width: 50px;
}


/*  DISEÑO DE SECCIONES  */


.sections {
}
.sections >div {
display: inline-block;
vertical-align: top;
width: 49%;
}

.center-align {
  width: 90%;
  margin:0;
  padding: 50px;
}

.center-align-gray {
    width: 90%;

}
.sections #bg-img {
  background-image: url(../imagenes/ciruelo-dibujando.jpeg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.sections #dragon-img {
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}


/*  MENU  */


#intro-container menu{
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

#intro-container menu div{
  display: inline-block;
}
#intro-container menu #menu-title{
  width: 20%;
  height: 75px;
  vertical-align: top;
  background-color: #000;
}
#intro-container menu #menu-list{
  width: 79%;
  text-align: right;

}
#intro-container menu #menu-list ol{
  margin: 0;
  padding: 0;
  height: 75px;
  background-color: #000;
}

#intro-container menu #menu-list ol li{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
  }



#intro-container menu #menu-list ol li a{
  text-decoration: none;
  color: inherit;
  padding: 30px ;
}

#intro-container menu #menu-list ol li a:hover{
  text-decoration: underline;
  color: #999;
  background-color:black;
}





/*  contenedores de secciones */

#intro-container{
  height: 700px;
  background-color: #000;
  color: white;
  padding-top: 50px
}



#gray-container{
  height: 450px;
  background-color: #ccc;
  margin-top: -75px;
  padding-top: 130px;
  }

  #white-container{
    height: 700px;
  }


/* rectangles  */

.rectangle{
  height: 160px;
  margin-top: -80px;
}

.gray-rectangle {
    height: 160px;
    margin-top: -60px;
  }

.black-rectangle {
      height: 160px;
      margin-top: -60px;
    }

.bg-white{
  background-color: #fff;
}

.bg-gray{
  background-color: #ccc;
}

.bg-black{
  background-color: #000;
}

.skew-left{
  transform: skewY(-5deg);
}

.skew-right{
  transform: skewY(5deg);
}


/*   botones   */

.button-section{
  padding-top: 50px;
  padding-left: 40%;
}

.white-button{
  text-decoration: none;
  text-align:center;
  background-color: black;
  border: solid 1px;
  border-color: white;
  border-radius: 5px;
  color:white;
  padding: 10px 40px;
}
.white-button:hover{
  background-color: white;
  color:black;
}

.black-button{
  text-decoration: none;
  text-align:center;
  background-color: white;
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
  color:black;
  padding: 10px 40px;
}
.black-button:hover{
  background-color: black;
  color:white;
}
