body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	background-color: #F2F2F2;
	}

h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 2.25em;
	}

p {
	font-size: 1.125em;
	}

div {
	max-height: 300px;
	max-width: 100%;
	overflow: scroll;
	background-color: white;
	}	