body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #F2F2F2; 
	}

h1 {
	font-family: 'Slabo 27px', serif;
	}

div {
	height: 400px;
	min-width: 600px;
	max-width: 100%;
	background-color: white;
	}	