@font-face {
    font-family: 'open_sans_regular';
    src: url('fonts/open_sans_regular_webfont.eot');
    src: url('fonts/open_sans_regular_webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open_sans_regular_webfont.woff') format('woff'),
         url('fonts/open_sans_regular_webfont.ttf') format('truetype'),
         url('fonts/open_sans_regular_webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #001E40;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	}

h1,h2 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 0.025em;
	line-height: 1.5em;
	text-transform: uppercase;
	}

p {
	color: grey;
	line-height: 1.5em;
	font-size: 1.25em;
	}

p:first-letter {
	color: #D0021B;
	font-size: 1.5em;
	}

a {
	color: #D0021B;
	line-height: 1.5em;
	text-decoration: none;
	}

a:hover { text-decoration: underline; }

span { font-size: 0.75em; }

strong {
	color: #001E40;
	text-transform: capitalize;
	}

.align-right { text-align: right; }

.footer {
	background-color: #D0021B;
	margin: 0;
	padding: 10px 20px;
	}

.footer p {
	color: white;
	text-shadow: 1px 1px 1px #910112;
	}

.indent { text-indent: 20px; }

.top { vertical-align: top;  }