body{
  padding: 0;
  margin:0;
  font-family: arial;
}

h1{
font-size: 50px;
text-align: center;
padding-top: 50px;
}

h2{
font-size: 30px;
text-align: center;
}

.button-section{
  padding-top: 50px;
  padding-left: 40%;

}

.white-button{
  text-decoration: none;
  text-align:center;
  background-color: black;
  border-color: white;
  color:white;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 30px;
}
.white-button:hover{
  background-color: white;
  color:black;
}

.black-button{
  text-decoration: none;
  text-align:center;
  background-color: white;
  border-color: black;
  color:black;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 30px;
}
.black-button:hover{
  background-color: black;
  color:white;
}


.sections {
}
.sections >div {
display: inline-block;
vertical-align: top;
width: 49%;
}

.center-align {
  width: 90%;
  margin:0 auto;
  padding: 0;

}
.sections #bg-img {
  background-image: url(../imagenes/ciruelo-dibujando.jpeg);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.dragon-logo{
  max-width: 50px;
}

#main-conteiner{
}

#intro-container{
  background-color: #000;
  color: white;
  padding-top: 50px
}

#intro-container menu{
  margin: 0;
  padding: 0;
}

#intro-container menu div{
  display: inline-block;
}
#intro-container menu #menu-title{
  width: 20%;
  height: 75px;
  vertical-align: top;
  background-color: gray;
}
#intro-container menu #menu-list{
  width: 79%;
  text-align: right;

}
#intro-container menu #menu-list ol{
  margin: 0;
  padding: 0;
  height: 75px;
  background-color: #ccc;
}

#intro-container menu #menu-list ol li{
    display:inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
  }
  /*
  no es lo mismo si pongo así?:
  menu ol li {
    display:inline-block;
    paddin:0;
    margin:0;
    list-style: none;
  }
  */


#intro-container menu #menu-list ol li a{
  text-decoration: none;
  color: inherit;
  padding: 30px ;
}

#intro-container menu #menu-list ol li a:hover{
  text-decoration: underline;
  color: #999;
  background-color:black;
}
