


  body{
background-color:#2C3E50;
color: #000;
font-family: arial;
}

h1, h2{
color: white;
}

.header{
  width:100%;
  height:auto;
}


.menu {
  background-color:#F8C471;
  width: 100%;

}


ol {
  list-style-type: none;
  display: block;

}

div nav ol li a {
  float: left;
  display: block;
  padding: 10px;
  background-color: #dddddd;
  text-decoration: none;
  overflow:hidden;

}

nav div ol li {
  float:left;
}

.porfolio{
  width:100%

}
 div {

   padding:10px;
   border: 4px solid #dddddd;
   mar  gin:20px;
   color:#2C3E50;
   background-color: #fff;
 }

table {
  background-color: white;
  border-collapse:collapse;
  border-color: white;
  border-style: solid;
}
