body {
	color: #001E40;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	}

h1 { font-size: 3.333em; }

p {
	color: grey;
	font-size: 1.125em; }

a {
	color: #85C734;
	font-size: 1.125em;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}