@font-face {
    font-family: 'open_sans_regular';
    src: url('fonts/open_sans_regular_webfont.eot');
    src: url('fonts/open_sans_regular_webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open_sans_regular_webfont.woff') format('woff'),
         url('fonts/open_sans_regular_webfont.ttf') format('truetype'),
         url('fonts/open_sans_regular_webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #001E40;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	}

h1,h2 {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 0.025em;
	line-height: 1.5em;
	}

p {
	color: grey;
	line-height: 1.5em;
	font-size: 1.25em;
	}

a {
	color: #D0021B;
	line-height: 1.5em;
	text-decoration: none;
	}

a:hover { text-decoration: underline; }