* {
	color: #001E40;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	}

a {
	display: block;
	width: 200px;
	padding: 10px;
	margin: 20px;
	color: #F5CCD1;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	background-color: #D0021B;
	}

a:link {
	color: #D0021B;
	line-height: 1.5em;
	}

a:hover {
	color: #F5CCD1;
	background-color: #D93448;
	}

a:focus {
	color: #F5CCD1;
	background-color: white;
	}

a:active {
	color: #F5CCD1;
	background-color: #A60115;
	}